.card-member {
    background-color: white;
    padding         : 10px;
    margin-bottom   : 20px;
    cursor          : pointer;
}

.card-member:hover {
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
        0px 10px 14px 1px rgba(0, 0, 0, 0.14),
        0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.card-member .card-league {
    margin-right: 20px;
    max-width   : 60px;
    width       : 100%;
}

.card-member .card-league img {
    max-width: 60px;
    width    : 100%;
}

.card-member .card-trophies {
    text-align: left;
    max-width : 80px;
    width     : 100%;
}